@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600,600i')

@require 'vendor/normalize'
@require 'variables/colors'
@require 'variables/typography'
@require 'mixins/typography'

html
  font-size: 16px
  line-height: 1.5

body
  padding: 0
  font-family: font-family-default
  font-weight: font-weight-light
  color: color-text
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background: color-background
  overflow-x: hidden

a
  color: color-link
  text-decoration: none
  transition: color 0.15s linear
  outline: none
  &:focus,
  &:hover,
  &:active
    color: color-link-active

::selection
  color: color-background
  background: color-secondary

h1
  header-large()
  font-weight: font-weight-heavy
  color: color-primary
  margin: 0 0 2rem

h2
  header-medium()
  font-weight: font-weight-heavy
  color: color-primary
  margin: 0 0 2rem

h3
  header-small()
  font-weight: font-weight-heavy
  color: color-secondary
  margin: 0 0 2rem

h4
  header-xsmall()
  font-weight: font-weight-heavy
  color: color-secondary
  margin: 0 0 2rem

p
  body-text()
  font-weight: font-weight-light
  color: color-secondary
  margin: 0 0 1rem

iframe,
embed,
video,
img
  width: 100%
  vertical-align: bottom
