@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600,600i')

@require 'vendor/normalize'
@require 'variables/colors'
@require 'variables/typography'

html
  font-size: 100%

body
  padding: 0
  font-family: font-family-default
  font-weight: font-weight-light
  color: color-text
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background: color-background
  overflow: hidden

a
  color: color-link
  text-decoration: none
  transition: color 0.15s linear
  outline: none
  &:focus,
  &:hover,
  &:active
    color: color-link-active

::selection
  color: color-background
  background: color-secondary
