@require '../../styles/variables/colors'
@require '../../styles/variables/breakpoints'
@require '../../styles/variables/typography'
@require '../../styles/mixins/grid'

.backgroundShapes
  left: 0
  top: 0
  height: 100%
  width: 100%

.artistList
  grid()
  list-style: none
  margin-bottom: 3rem

.artist
  grid-cell(4)
  margin-bottom: 16px
  background-clip: content-box
  display: flex
  align-items: center
  text-transform: uppercase
  font-weight: font-weight-heavy
  @media site-small-min
    grid-cell(3)
    margin-bottom: 24px
  @media site-medium-min
    grid-cell(2)
    &:nth-child(10),
    &:nth-child(22)
      grid-cell(2, 2, 0)
    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(8),
    &:nth-child(12),
    &:nth-child(13),
    &:nth-child(16),
    &:nth-child(20),
    &:nth-child(24),
    &:nth-child(25)
      grid-cell(2, 4, 0)
    &:nth-child(2),
    &:nth-child(14)
      grid-cell(2, 0, 4)
    &:nth-child(17),
    &:nth-child(5)
      grid-cell(2, 0, 2)

.currentArtist
  background-color: color-primary

.currentArtist img
  mix-blend-mode: darken
