@require '../../styles/variables/colors'
@require '../../styles/variables/breakpoints'
@require '../../styles/variables/typography'
@require '../../styles/mixins/grid'

.backgroundShapes
  left: 0
  top: 0
  height: 100%
  width: 100%

.artistList
  grid()
  list-style: none
  margin-bottom: 3rem

.artist
  grid-cell(4)
  margin-bottom: 16px
  background-clip: content-box
  display: flex
  align-items: center
  text-transform: uppercase
  font-weight: font-weight-heavy
  @media site-small-min
    grid-cell(3)
    margin-bottom: 24px
  @media site-medium-min
    grid-cell(2)
    &:nth-child(11),
    &:nth-child(13),
    &:nth-child(24)
      grid-cell(2, 2, 0)
    &:nth-child(21)
      grid-cell(2, 0, 2)

.artist img
  // border: 0.2rem solid color-background
  // margin: -0.2rem

.currentArtist
  background-color: color-primary

.currentArtist img
  mix-blend-mode: darken
  border-color: color-secondary
