@require '../../styles/variables/colors'
@require '../../styles/variables/breakpoints'
@require '../../styles/variables/typography'
@require '../../styles/mixins/grid'
@require '../../styles/mixins/layout'
@require '../../styles/mixins/typography'

.wrapper
  grid()
  align-items: flex-start
  margin-top: 3rem
  margin-bottom: 3rem
  @media site-small-min
    margin-top: 6rem

.titleWrapper
  grid-cell(12)
  margin-bottom: 2rem
  @media site-small-min
    grid-cell(8, 4)

.name,
.title
  margin-bottom: 0

.portrait
  grid-cell(12)
  margin-top: 0.5rem
  margin-bottom: 2rem
  @media site-small-min
    grid-cell(4)
  @media site-medium-min
    grid-cell(3)

.bio
  grid-cell(12)
  @media site-small-min
    grid-cell(8)
  @media site-medium-min
    grid-cell(8, 1)

.bio hr
  max-width: 100%
  width: 5rem
  height: 0.5rem
  background: color-primary
  border: 0
  margin: 2rem 0

.bio hr ~ p
  font-weight: font-weight-heavy
  font-size: 18px
  line-height: 24px
