@require '../../styles/variables/breakpoints'

.title
  position: absolute
  top: 50%
  width: 100%
  font-size: 25vw
  margin-top: -7.5vmin
  line-height: 15vmin
  text-align: center
  z-index: 40
  color: #FFFFFF
  @media site-small-min
    font-size: 15vmin
