// removes internal margins
trim-vertical-margin()
  > *:first-child
    margin-top: 0
  > *:last-child
    margin-bottom: 0

// removes horizontal internal margins
trim-horizontal-margin()
  > *:first-child
    margin-left: 0
  > *:last-child
    margin-right: 0
