@require '../../../styles/variables/colors'
@require '../../../styles/variables/breakpoints'
@require '../../../styles/variables/typography'
@require '../../../styles/mixins/grid'

.socialList
  list-style: none
  text-align: center
  margin-bottom: 3rem

.social
  display: inline-block
  margin: 0 1rem

.socialIcon
  width: 2rem
  height: 2rem
  fill: currentColor
